<html lang="en">
<%- include("./partials/head.ejs") %>

<head>
  <link rel="stylesheet" href="style.css">
</head>

<body>
<%- include("./partials/nav.ejs") %>

<div class="employees-data">

  <h2>All Employees</h2>
  <table border="1">
    <tr>
      <th>No.</th>
      <th>First Name</th>
      <th>Second Name</th>
      <th>Salary</th>
      <th>Date of employment</th>>
    </tr>
    <% if(userData.length!=0){ var i=1; userData.forEach(function(data){ %>
    <tr>
      <td><%=i %></td>
      <a class="edit-text">
        <td><input type="text" id="<%= data.ID_angajat %>" value="<%= data.Prenume %>" disabled></td>
        <td><input type="text" id="<%= data.ID_angajat %>" value="<%= data.Nume %>" disabled></td>
        <td><input type="text" id="<%= data.ID_angajat %>" value="<%= data.Salariu %>" disabled></td>
        <td><input type="text" id="<%= data.ID_angajat %>" value="<%= data.Data_angajarii%>" disabled></td>
      </a>
      <th>
        <a class="edit" data-ed="<%= data.ID_angajat %>">
          <img src="edit.svg" alt="edit.icon">
        </a>
      </th>
      <th>
        <a class="save" data-ed="<%= data.ID_angajat %>">
          <input type="button" value="Save changes">
        </a>
      </th>
      <th>
        <a class="delete" data-doc="<%= data.ID_angajat %>">
          <img src="trashcan.svg" alt="delete.icon">
        </a>
      </th>
    </tr>
      <% i++; }) %>
        <% } else{ %>
    <tr>
      <td colspan="7">No Data Found</td>
    </tr>
        <% } %>
  </table>

  <div class="add">
    <form action="http://localhost:3002/employees" method="POST">
      <input type="text" id="firstName" name="firstName" placeholder="First Name" required>
      <input type="text" id="secondName" name="secondName" placeholder="Second Name" required>
      <input type="text" id="salary" name="salary" placeholder="Salary" required>
      <input type="text" id="employmentDate" name="employmentDate" placeholder="Date of employment" required>
      <input type="submit" value="Add">
    </form>
  </div>

  <h2>Statistics</h2><br>
  <div class="design">
    The longest-serving employee
    <input type="button" value="show" onclick="myFunction2()">
    <div id="myDIV2">
      <table border="1">
        <tr>
          <th>No.</th>
          <th>First Name</th>
          <th>Second Name</th>
        </tr>
        <% if(searchData2.length!=0){ var i=1; searchData2.forEach(function(dataS2){ %>
        <tr>
          <td><%=i %></td>
          <td><%= dataS2.Prenume%></td>
          <td><%= dataS2.Nume%></td>
        </tr>
          <% i++; }) %>
            <% } else{ %>
        <tr>
          <td colspan="7">No Data Found</td>
        </tr>
            <% } %>
      </table>
    </div>
  </div>
  <br><br>
  <div class ="design">
    The employee with the least seniority
    <input type="button" value="show" onclick="myFunction3()">
    <div id="myDIV3">
      <table border="1">
        <tr>
          <th>No.</th>
          <th>First Name</th>
          <th>Second Name</th>
        </tr>
        <% if(searchData3.length!=0){ var i=1; searchData3.forEach(function(dataS3){ %>
        <tr>
          <td><%=i %></td>
          <td><%= dataS3.Prenume%></td>
          <td><%= dataS3.Nume%></td>
        </tr>
          <% i++; }) %>
            <% } else{ %>
        <tr>
          <td colspan="7">No Data Found</td>
        </tr>
            <% } %>
      </table>
    </div>
  </div>
  <br>
  <div class = "design">
    The employee with the most completed interventions
    <input type="button" value="show" onclick="myFunction()">
    <div id="myDIV">
      <table border="1">
        <tr>
          <th>No.</th>
          <th>First Name</th>
          <th>Second Name</th>
          <th>Number of interventions</th>
        </tr>
        <% if(searchData.length!=0){ var i=1; searchData.forEach(function(dataS){ %>
        <tr>
          <td><%=i %></td>
          <td><%= dataS.Prenume%></td>
          <td><%= dataS.Nume%></td>
          <td><%= dataS.nr_interventii%></td>
        </tr>
          <% i++; }) %>
            <% } else{ %>
        <tr>
          <td colspan="7">No Data Found</td>
        </tr>
            <% } %>
      </table>
    </div>
  </div>
</div>
  <script>
    let change = true;
    function myFunction() {
      var x = document.getElementById("myDIV");
      console.log(x.style.display);
      if (change) {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
      change = !change;
      console.log(change);
    }

    let change2 = true
    function myFunction2() {
      var x = document.getElementById("myDIV2");
      if (change2) {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
      change2 = !change2;
    }

    let change3 = true;
    function myFunction3() {
      var x = document.getElementById("myDIV3");
      if (change3) {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
      change3 = !change3;
    }

    document.querySelectorAll("a.delete").forEach(element => {
      element.addEventListener('click', (e) => {
        if (confirm("Are you sure you want to delete this employee from database?")) {  
        let endpoint = `/employees/${element.dataset.doc}`;
        fetch(endpoint, {
          method: 'DELETE',
        })
          .then(response => response.json())
          .then(data => window.location.href = data.redirect)
          .catch(err => console.log(err));
        }
        });
      });

    document.querySelectorAll("a.edit").forEach(element => {
      element.addEventListener('click', (e) => {
        let id = element.dataset.ed;
        console.log(id);
        document.querySelectorAll(`input#${CSS.escape(id)}`).forEach(element => {
          element.disabled = false;
          console.log(element.value);
        });
      });
    });

    document.querySelectorAll("a.save").forEach(element => {
      element.addEventListener('click', (e) => {
        let endpoint = `/employees/${element.dataset.ed}`;
        let id = element.dataset.ed;
        let elementArray = document.querySelectorAll(`input#${CSS.escape(id)}`);
        elementArray[0].disabled = true;
        elementArray[1].disabled = true;
        elementArray[2].disabled = true;
        elementArray[3].disabled = true;

        fetch(endpoint, {
          method: 'PUT',
          headers: {
            "Content-Type": 'application/json'
          },
          body: JSON.stringify({
            secondName: elementArray[0].value,
            firstName: elementArray[1].value,
            salary: elementArray[2].value,
            dateOfEmployment: elementArray[3].value,
            id: id
          })
        })
          .then(response => response.json())
          .then(data => { console.log(data); window.location.href = data.redirect })
          .catch(err => console.log(err));
        });
      });
    </script>
</body>

</html>